@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Honk&display=swap');
@import url(/assets/post.css);
@import url(/assets/styles-color.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 40px 140px 1fr 25px;
    grid-template-areas: "hd hd hd" "nav nav nav" "intro intro intro" "card card card" "ft ft ft";
    height: 100vh;
}

.header {
    grid-area: hd;
    text-align: center;
    font-family: bungee outline;
    font-size: xx-large;
}

.nav-box {
    grid-area: nav;
    text-align: center;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
}

.intro {
    grid-area: intro;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 0px 20px;
}

.card-container {
    grid-area: card;
    text-align: center;
    padding: 10px; 
}

.h1 {
    font-family: bungee outline;
    font-weight: 800;
    font-size: 30px;
}

.postcards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 365px;
    margin: 5px 15px;
}

p {
    text-align: center;
    padding: 20px 10px;
}

.footer {
    grid-area: ft;
    font-weight: 700;
    
}